/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Hatton';
  src: url('../hatton-font-family/pphatton-bold-webfont.woff');
  font-weight: bold;
}

body{

    word-wrap:break-word;
    font-size: 62.5%;
  }

.partial-header a{
  text-decoration: none;
  color:#ECEC64;
}

.partial-header{
  text-align: center;
}

header.container {
  text-align: center;
  justify-content: center;
}

.login-header {
  font-family: "Montserrat", serif;
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
}
.login-form {
  padding-top: 50px;
}
.form-label {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  color: black;
  font-weight: 300;
  display: block;
  padding-left: 40%;
  margin: 10px 0;
  


}
.form-control {
  margin-left: 40%;
  width: 23%;
  height: 30px;
  font-family: "Montserrat", serif;
}

  

  img{
    height: 200px;
  }
  
  header {
    padding-top: 20px;
    display: flex;
    border-bottom: lightgrey solid 1px;
    padding-bottom: 20px;

    
  }
  
  h1 { 
    width: 80%; 
    text-align: center;
    margin-left: 16%;
    font-family: 'Hatton', sans-serif;
    font-weight: bold;
    color: #ECEC64;
    font-size: 3rem;
  }

  .top-heading {
    color: white;
    font-size: 2rem;
    font-family: "Montserrat", serif;
    font-weight: bold;
    padding-top: 121px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
  }
  .top {
    background-image: url(../imgs/aje-beauty-search.png);
    height: 400px;
    width: 67.5%;
    margin-left: 16%;
  }
  .btn-sm {
    padding: 5px 5px;
    width: 11%;
    height: 40px;
  }
  
  .login, .logout {
    margin-right: 1%;
    font-weight: 700;
    border: none;
    font-family: "Montserrat", serif;
    font-size: 1rem;
    

  }
  .logout {
    background-color: white;
    margin-left: 25%;
  }


  .signUp, .login-submit {
    margin-right: 2%;
    border-radius: 1%;
    border: none;
    background-color: #ECEC64;
    font-family: "Montserrat", serif;
    font-size: .9rem;
    font-weight: 700;
    padding-top: 8px;
    
  }

  .login-submit {
    margin-left: 47%;
    width: 8%;
    font-size: 1rem;
    margin-top: 10px;
    padding-bottom: 8px;
  }
  .usertype {
    margin-left: 40%;
    width: 23.5%;
    height: 35px;
    margin-top: 15px;
    font-family: "Montserrat", serif;
  }
  .no-account {
    font-family: "Montserrat", serif;
    font-size: .9rem;
    color: black;
    text-align: center;
    margin-top: 10px;
  }
  .search {
    width: 45%;
    height: 40px;
    margin-top: 55px;
    margin-left: 23%;
    border-radius: 1%;
    border: none;
    font-family: "Montserrat", serif;
    font-size: 0.8rem;
    padding-left: 2%;
  }
  
  .search-button {
    width: 8%;
    border-radius: 1%;
    border: none;
    background-color: #ECEC64;
    font-family: "Montserrat", serif;
    font-size: 0.68rem;
    font-weight: 500;
  }
  
  button {
    height: 40px;
  }
  
 .middle-heading {
    text-align: center;
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 50px 0;
  
  }

  .braids {
    background: url(../imgs/braids.png);
    width: 169px;
    height: 200px;
    border: none;
    box-shadow: 5px 5px 5px grey;
  }
  
  .silk-press {
    background: url(../imgs/silk-press.png);
    width: 169px;
    height: 200px;
    border: none;
    box-shadow: 5px 5px 5px grey;
  }

  .locs {
    background: url(../imgs/locs.png);
    width: 169px;
    height: 200px;
    border: none;
    box-shadow: 5px 5px 5px grey;
  }

  .haircut {
    background: url(../imgs/haircut.png);
    width: 169px;
    height: 200px;
    border: none;
    box-shadow: 5px 5px 5px grey;
  }
  .middle {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
  }
  
 
  
  
  .bottom {
    display: flex;
    justify-content: space-around;
  }
  .bottom section {
    border: 1px solid lightslategrey;
    border-radius: 2%;
    text-align: center;
  }
  .profile-photo {
    padding-top: 10px;
    border-radius: 50%;
  }

  .user-name {
    font-family: "Montserrat", serif;
    color: black;
    font-weight: bold;
    padding-top: 8px;
    display: block;
    
    font-size: 1.25rem;
  }
  .user-role {
    font-family: "Montserrat", serif;
    color: black;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 2px;
    display: block;
  }

  .user-businessname {
    font-family: "Montserrat", serif;
    font-size: 1rem;
    color: black;
    padding-top: 2px;
    display: block;
    padding-bottom: 10px;
  }

  
  .portfolio {
    display: flex;
    justify-content: space-between;
    margin: 10px 5%;
  }
  
  
  
  .newRole, .submit, .newBusinessName {
    display: none;
  }
  
  .showInput {
    display: block;
    
  }

  section.featured a {
    display: inline-block;
    width: 20%;
  }

  section.featured a:hover {
    box-shadow: 5px 5px 5px grey;
    text-decoration: none;
  }

  .around-profile {
    background-color: #FDFDEF;
    display: flex;
    justify-content: center;


  }

  .profile-center {
    margin-top: 100px;
    background-color: white;
    width: 75%;

  }
  .logout.profilelogout {
    margin-left: 0;
    margin-right: 25px;
  }
  .set-up {
    font-size: 1.60rem;
    margin-top: 0;
    padding: 50px 56px;
    text-align: left;
  }

  .profile-label {
  padding-left: 25%;
  }

  .profile-control {
    margin-left: 25%;
    width: 40%;
  }

  #services {
    margin-left: 25%;
    font-family: "Montserrat", serif;
    font-size: .8rem;
  }

  input#profile-photo, .portfolo-photo {
    display: block; 
    margin-left: 25%;
  }

  .portfolio-header {
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 25%;
    margin-top: 40px;
   }
    
   button.delete {
    font-weight: 700;
    border: none;
    font-family: "Montserrat", serif;
    font-size: 1rem;
    background-color: white;
    margin-left: 80%;
   }
   .profile-page {
    margin: 50px 25%;
    background-color: white;
    width: 75%;
   }
   .profile-information {
    display: flex;
    margin-left: 5%;
    margin-top: 25px;
   }
   .name-role-business {
    margin-left: 3%;
   }
   .profile-information img {
    width: 100px;
    height: auto;
    border-radius: 50%;
   }

   .name-role-business h3,  
   .review h2 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 10px;
   }

   .review h2{
    margin-left: 5%
   }

   .reviews span {
    font-weight: bold;
   }
   .name-role-business p, 
   .name-role-business li  {
    font-family: "Montserrat", serif;
    font-size: .8rem;
    margin-top: 5px;
   }

   .name-role-business h4 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 10px;
   } 
   .portfolio-images {
    margin-top: 25px;
   }
   .portfolio-images img{
    width: 100%;
   }

   .review-control {
    margin-left: 5%;
    margin-top: 10px;
    width: 50%;
   }
  footer {
    height: 100px;
    background-color: #FDFDEF;
  }

.review button {
    background-color: #ECEC64;
    font-family: "Montserrat", serif;
    font-size: .9rem;
    font-weight: 700;
    padding-top: 8px 0;
    border: none;
    width: 10%;
    margin-left: 0;
    
}

section.reviews {
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.reviews p {
  font-family: "Montserrat", serif;
  font-size: 1rem;
  margin-top: 5px;
}
  select#role {
  margin-left: 25%;
  width: 15%;
  height: 25px;
  }

  